{% extends 'base.html.twig' %}
{% block header %}
    <div class="p-5 text-center bg-image" style="background-image: url('{{ asset('uploads/images/' ~ figure.imageUrl) }}');height: 600px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, .4);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div style="cursor: pointer;" id="figure_name" class="text-white figureName">
                    <h1>{{ figure.name }}</h1>
                </div>
            </div>
            <div class="actions_container">
                <a class="btn btn-primary" id="figure_image" href="#">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="gallery">
        {% for image in figure.images %}
            <div class="item">
                <div onclick="deleteItem('{{ path('figure_image_delete', {'id': image.id}) }}', '{{ csrf_token('delete-image' ~ image.id) }}')" class="delete bg-danger" tooltip="Supprimer">
                    <i class="fas fa-trash"></i>
                </div>
                <a href="{{ path('figure_image_edit', {'id': image.id}) }}">
                    <div class="edit bg-primary" tooltip="Editer">
                        <i class="fas fa-edit"></i>
                    </div>
                </a>
                <img style="filter: brightness(.5);" alt="{{ image.name }}" src="{{ asset('uploads/images/' ~ image.url) }}">
            </div>
        {% endfor %}
        {% for video in figure.videos %}
            <div class="item">
                <div id="edit-video" onclick="deleteItem('{{ path('figure_video_delete', {'id': video.id}) }}', '{{ csrf_token('delete-video' ~ video.id) }}')" class="delete bg-danger" tooltip="Editer">
                    <i class="fas fa-trash"></i>
                </div>
                <div id="delete-video" onclick="editItem('{{ path('figure_video_edit', {'id': video.id}) }}', '{{ csrf_token('update-video' ~ video.id) }}', '{{ video.url }}')" class="edit bg-primary" tooltip="Supprimer">
                    <i class="fas fa-edit"></i>
                </div>
                <iframe style="filter: brightness(.5);" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
        <div onclick="newItem('{{ path('figure_image_new', {'id': figure.id }) }}', '{{ path('figure_video_new', {'id': figure.id }) }}', '{{ csrf_token('add-video' ~ figure.id) }}')" class="item add" tooltip="Ajouter une nouvelle image">
            <i class="fas fa-add"></i>
        </div>
    </div>
{% endblock %}
{% block body %}

    <div class="container">
        <form method="post" name="figure">
            <label for="description">Description</label>
            <textarea name="figure[description]" id="description" class="description">{{ figure.description }}</textarea>
            <label for="figure_group">Groupe</label>
            <select name="figure[group]" id="figure_group" class="form-select">
                <option></option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {{ (group.id == figure.group.id ? 'selected' : '') }}>
                        {{group.name }}
                    </option>
                {% endfor %}
            </select>
            <input type="hidden" id="figure_name_input" name="figure[name]" value="{{ figure.name }}">
            <input type="file" accept="image/*" id="figure_image_input" name="figure[image]" value="{{ asset('uploads/images/' ~ figure.imageUrl) }}">
            <input type="hidden" name="figure[_token]" value="{{ firgureForm._token.vars.value }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
            <div class="manage_button_container">
                <a class="btn btn-danger" id="delete-figure" style="color: white;">Supprimer</a>
                <button class="btn btn-primary" type="submit">Sauvegarder</button>
            </div>
        </form>
        <br/>
        <div class="infos_container">
            <div class="text-info">Identifiant <span>{{ figure.id }}</span></div>
            <div class="text-info">Nom du groupe <span>{{ figure.group.name }}</span></div>
            <div class="text-info">Date de création <span>{{ figure.createdAt|date("d/m/Y") }}</span></div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        // Update figure name
        $('#figure_name').click(async () => {
            const { value: figureName } = await Swal.fire({
                title: 'Modifier le nom de la figure',
                input: 'text',
                inputLabel: 'Nom de la figure',
                inputValue: '{{ figure.name }}',
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Vous devez écrire quelque chose!'
                    }
                }
            })
            if (figureName) $('#figure_name_input').val(figureName);
        });
        // Update figure image url
        $('#figure_image').click(() => {
            $('#figure_image_input').trigger('click');
        });

        // Delete figure
        $('#delete-figure').click(async () => {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('{{ path('figure_delete', {'id': figure.id}) }}', {
                        _token: '{{ csrf_token('delete' ~ figure.id) }}'
                    }).done(function (datas) {
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    });
                }
            })
        });

        /**
         * Delete image
         *
         * @param pathUrl
         * @param csrfToken
         */
        function deleteItem(pathUrl, csrfToken) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post(pathUrl, {
                        _token: csrfToken
                    }).done(function (datas) {
                        Swal.fire(
                            'Deleted!',
                            'Your item has been deleted.',
                            'success'
                        )
                    });
                }
            })
        }

        /**
         * Edit image url
         *
         * @param pathUrl
         * @param csrfToken
         * @param url
         */
        async function editItem(pathUrl, csrfToken, url = false) {
            const { value: newUrl } = await Swal.fire({
                title: url ? "Modifier l'url de l'élement" : "Entrez l'url de votre video",
                input: 'textarea',
                inputLabel: "Url de l'élément",
                inputValue: url,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) return 'Vous devez écrire quelque chose!';
                }
            });
            if (newUrl) {
                $.post(pathUrl, {
                    _token: csrfToken,
                    new_url: newUrl
                }).done(function (datas) {
                    Swal.fire(
                        'Updated !',
                        'Your item has been updated.',
                        'success'
                    )
                });
            }
        }

        /**
         * Add new item to figure
         * @param newImagePath
         * @param newVideoPath
         * @param token
         */
        function newItem(newImagePath, newVideoPath, token) {
            Swal.fire({
                title: 'Galerie',
                html: "<span class='text-muted'>Veuillez sélectionner une réponse</span>" +
                    "<br>" +
                    "<br>" +
                    '<a onclick="editItem(`' + newVideoPath + '`, `' + token + '`)" style="color: white; margin-right: 10px;" class="btn btn-primary">Ajouter une video</a>' +
                    '<a href="' + newImagePath + '" style="color: white" class="btn btn-primary">Ajouter une image</a>',
                showCancelButton: false,
                showConfirmButton: false
            });
        }

    </script>
{% endblock %}
{% block title %}
    Edit - {{ figure.name }}
{% endblock %}

