{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Edition d'image </h1>
    <br/>
    <span class="text-muted">Image actuel</span>
    <div class="imageContainer">
        <img src="{{ asset('uploads/images/' ~ image.url) }}" alt="{{ image.id }}">
    </div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
</div>

{% endblock %}

{% block title %}
    Image - Edit
{% endblock %}

