{% extends 'base.html.twig' %}

{% block title %}Figure index{% endblock %}

{% block header %}
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="background-image: url('https://snowtricks.thibaut-tourte.com/images/home.jpg');height: 600px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, .4);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">SnowTrick</h1>
                    <h4 class="mb-3">Découvrez les meilleurs figure de snowboard sur notre site.</h4>
                    <a class="btn btn-outline-light btn-lg" href="{{ path('figure_list') }}" role="button">Voir les figures</a>
                </div>
            </div>
            <div class="anchorLink">
                <a href="#figures">
                    <i class="fas fa-chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Background image -->
{% endblock %}
{% block body %}
    <div class="card_container figureCardContainer" id="figures">
        {% for figure in figures %}
            <div class="card" style="width: 15rem; margin: 5px;">
                <img class="card-img-top" src="{{ figure.imageUrl }}" alt="Card image cap">
                <div class="card-body">
                    <a href="{{ path('figure_show', {'slug': figure.slug}) }}">
                        <h5 class="card-title">{{ figure.name|length > 17 ? figure.name|slice(0, 17) ~ '...' : figure.name }}</h5>
                    </a>
                    <span class="card-text" style="color: #7b7a7a;"><small>Post crée le {{ figure.createdAt|date("d/m/Y") }}</small></span>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="btn-group">
                            <a title="Editer la figure" href="{{ path('figure_edit', {'id': figure.id}) }}" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a title="Supprimer la figure" href="{{ path('figure_delete', {'id': figure.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination_container">
        {{ knp_pagination_render(figures) }}
    </div>
{% endblock %}
