{% extends 'base.html.twig' %}
{% block header %}
    <div class="p-5 text-center bg-image" style="background-image: url('{{ asset('uploads/images/' ~ figure.imageUrl) }}');height: 600px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, .4);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white figureName">
                    <h1>{{ figure.name }}</h1>
                </div>
            </div>
            {% if is_granted('FIGURE_DELETE', figure) %}
                <div class="actions_container">
                    <a class="btn btn-primary" href="{{ path('figure_edit', {'id': figure.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form method="post" action="{{ path('figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="gallery">
        {% for image in figure.images %}
            <div class="item">
                <img alt="{{ image.name }}" src="{{ image.url }}">
            </div>
        {% endfor %}
        {% for video in figure.videos %}
            <div class="item">
                <iframe src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block body %}

    <div class="container">
        {{ figure.description }}
        <br/>
        <div class="infos_container">
            <div class="text-info">Identifiant <span>{{ figure.id }}</span></div>
            <div class="text-info">Nom du groupe <span>{{ figure.group.name }}</span></div>
            <div class="text-info">Date de création <span>{{ figure.createdAt|date("d/m/Y") }}</span></div>
        </div>
    </div>

    <div class="container">
        <div class="be-comment-block">
            <h1 class="comments-title">Comment{{ figure.comments.count > 0 ? 's' : '' }} ({{ figure.comments.count }})</h1>

            {% for comment in comments %}
                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="{{ path('user_profile', {'id': comment.user.id }) }}">
                            <img src="{{ comment.user.avatarUrl }}" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a href="{{ path('user_profile', {'id': comment.user.id }) }}">{{ comment.user.username }}</a>
                        </span>
                        <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                            {{ comment.createdAt.format('Y-m-d H:i:s') }}
                    </span>

                        <p class="be-comment-text">
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination_container">
                {{ knp_pagination_render(comments) }}
            </div>
            <hr/>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <form class="form-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="comment">Ecrire un commentaire</label>
                                <textarea id="comment" class="form-input" required="" placeholder="Ecrivez votre commentaire sur ce post, veuillez restez respectueux et courtois."></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            {% else %}
                Vous devez être connecté pour écrire un commentaire
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block title %}
    {{ figure.group.name }} - {{ figure.name }}
{% endblock %}

