{% extends 'base.html.twig' %}
{% block body %}
    <div class="card mb-3" style="background-color: unset; box-shadow: none;">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-6 col-xl-4 d-none d-lg-flex"><img
                        src="{{ figure.imageUrl }}" alt="Trendy Pants and Shoes"
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"></div>
            <div class="col-lg-6 col-xl-8">
                <div class="card-body px-4 py-5 px-md-5"><h2 class="fw-bold">{{ figure.name }}</h2>
                    <p class="text-uppercase text-danger fw-bold mb-3"><i class="fas fa-clock me-2"></i><span>{{ figure.createdAt.format('Y-m-d H:i:s') }}</span></p>
                    <p class="text-muted mb-4">{{ figure.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-inline-flex">
            <a class="btn btn-primary mx-2" href="{{ path('figure_edit', {'id': figure.id}) }}">Edit</a>
            <form method="post" action="{{ path('figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    {% endif %}

    <div class="container">
        <div class="be-comment-block">
            <h1 class="comments-title">Comments (3)</h1>
            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="blog-detail-2.html">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">

				<span class="be-comment-name">
					<a href="blog-detail-2.html">Ravi Sah</a>
					</span>
                    <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					May 27, 2015 at 3:14am
				</span>

                    <p class="be-comment-text">
                        Pellentesque gravida tristique ultrices.
                        Sed blandit varius mauris, vel volutpat urna hendrerit id.
                        Curabitur rutrum dolor gravida turpis tristique efficitur.
                    </p>
                </div>
            </div>
            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="blog-detail-2.html">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">
			<span class="be-comment-name">
				<a href="blog-detail-2.html">Phoenix, the Creative Studio</a>
			</span>
                    <span class="be-comment-time">
				<i class="fa fa-clock-o"></i>
				May 27, 2015 at 3:14am
			</span>
                    <p class="be-comment-text">
                        Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
                    </p>
                </div>
            </div>
            <div class="be-comment">
                <div class="be-img-comment">
                    <a href="blog-detail-2.html">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
                    </a>
                </div>
                <div class="be-comment-content">
			<span class="be-comment-name">
				<a href="blog-detail-2.html">Cüneyt ŞEN</a>
			</span>
                    <span class="be-comment-time">
				<i class="fa fa-clock-o"></i>
				May 27, 2015 at 3:14am
			</span>
                    <p class="be-comment-text">
                        Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
                    </p>
                </div>
            </div>
            <hr/>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h3>Ecrire un commentaire</h3>
                <form class="form-block">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Ecrivez votre commentaire sur ce post, veuillez restez respectueux et courtois."></textarea>
                            </div>
                        </div>
                        <a class="btn btn-primary pull-right">Envoyer</a>
                    </div>
                </form>
            {% else %}
                Vous devez être connecté pour écrire un commentaire
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block title %}
    {{ figure.group.name }} - {{ figure.name }}
{% endblock %}

