{% extends 'base.html.twig' %}

{% block body %}

    <div class="header d-flex" style="justify-content: center;">
        <h1 class="title" style="text-transform: uppercase; font-weight: bolder;">Liste des utilisateurs</h1>
    </div>
    <a href="{{ path('app_admin') }}" class="btn btn-primary button-icon"><i class="fas fa-arrow-alt-circle-left"></i>Retour au panel d'adiministration</a>
    <hr/>
    <div class="card_container" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; width: 100%;">
        {% for user in users %}
            <div class="card m-2" style="width: 18rem;">
                <img src="{{ user.avatarUrl }}" class="card-img-top" alt="{{ user.username }}"/>
                <div class="card-body">
                    <a href="{{ path('user_profile', {'id': user.id}) }}"><h5 class="card-title ">{{ user.username }}</h5></a>
                    <p class="card-text">
                        <small class="text-muted">Utilisateur crée le {{ user.createdAt|date("d/m/Y") }}</small>
                    </p>
                    <div class="btn-group">
                        <a tooltip="Supprimer la l'utilisateur" style="color: white;"
                           onclick="deleteUser('{{ path('user_delete', {'id': user.id}) }}', '{{ csrf_token('delete' ~ user.id) }}')" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <h2>No records found</h2>
        {% endfor %}
    </div>
    <br/>
    <br/>
    <div class="pagination_container">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        /**
         * Delete user
         *
         * @param path
         * @param token
         */
        function deleteUser(path, token) {
            Swal.fire({
                title: 'Etes vous sûr ?',
                text: "Vous n'allez pas pouvoir revenir en arrière",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui, supprimer !'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post(path, {
                        _token: token
                    }).done(function () {
                        Swal.fire(
                            'Supprimer !',
                            "L'utilisateur à été supprimer",
                            'success'
                        )
                    });
                }
            })
        }
    </script>
{% endblock %}

{% block title %}
    Admin - Users
{% endblock %}

